extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sit ratione modi beatae doloremque similique ducimus temporibus perferendis veniam eligendi, suscipit quam, assumenda eos totam minima ex optio? Culpa, numquam!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorem doloremque eum ipsam nulla error. Iure praesentium animi eveniet fugiat exercitationem! Nesciunt atque eius amet, repellendus eum minus alias facilis!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen decorativa", class="img-fluid")
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 15% de descuento
                        p.titulo Viaje a Canadá
                        p.fecha 01 de Septiembre de 2024 - 30 de Septiembre de 2024
                        p.precio 1.020 €
