extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}
        .row

            h2.d-block.w-100.text-center Déjanos tu opinión

            .row.justify-content-center.col
                .col-md-8
                    form.d-grid(action="" method="Post")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Escribe tu nombre...", name="nombre", class="form-control")
                        .form-group
                            label(for="email") Correo electrónico
                            input#email(type="text", placeholder="Escribe tu email...", name="email", class="form-control")
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(type="text", placeholder="Escribe tu mensaje...", name="mensaje", class="form-control", rows = 3)
                        
                        input.btn.btn-success.mt-4(type="submit", value="Enviar comentario")